<% provide(:title, 'About Us') %>

	<h1>About Us</h1>

	<div class="container">
		<p class="lead text-left"> 
			The modern world is an amazing place. The Internet has placed billions of opportunities at your fingertips; opportunities to learn, opportunities to grow, opportunities to experience life. Every day is an opportunity. There are people to meet, places to see, billions of possibilities to explore in this amazing thing we call life.
		</p>

		<br>
			<p class="lead text-center">
				<strong>This is the inspiration for iVolve.</strong>
			</p>

		<br>
		<p class="lead text-left">
			Get out there and expand your horizons, soak it all in, enjoy yourself. Find something you love. Do it everyday. Do something new everyday. Move, hustle, read, learn, explore. Immerse yourself in life and all it has to offer.
		</p>

		<br>
		<p class="lead text-center">
			<strong>iVolve yourself.</strong>
		</p>
	</div>
