<div class="col-xs-12" style="border-top: 1px solid #e8e8e8">
	<div class="center-block" style="text-align:center">
		<p class="h3">My Social Output over Time</p>
		<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#output-time-modal"><i class="fa fa-info"></i>
		</button>
	</div>
	<!-- The following modal is called for both My and Ivolve Index -->
	<div class="modal fade" id="output-time-modal" tabindex="-1" role="dialog" aria-labelledby="socialOutputTimeModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="socialOutputModalTimeLabel">Social Output over Time</h4>
				</div>
				<div class="modal-body">
					<p>This graph displays the change over time in my Social Output.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	<%= content_tag :div, "", id: "engagement-line", data: {engagement: connections_over_time(@user.id) } %>
</div>