<div class="span4" style="border-top: 1px solid #e8e8e8">
	<h3 style="text-align: center">Your Social Engagement</h3>
	<h5 style="text-align: center">Total: <%= @twitter_int_sent + @facebook_int_likes + @facebook_int_posts + @facebook_int_statuses + @facebook_int_achievements + @facebook_int_subscribers + @instagram_int_media + @instagram_int_likes_out + @foursquare_checkins_count + @foursquare_photos_count + @foursquare_tips_count %>
	</h5>
	<%= content_tag :div, "", id: "social-engagement", 
	data: {twitter: @twitter_int_sent,
		facebook: @facebook_int_likes + @facebook_int_posts + @facebook_int_statuses + @facebook_int_achievements + @facebook_int_subscribers,
		instagram: @instagram_int_media + @instagram_int_likes_out,
		foursquare: @foursquare_checkins_count + @foursquare_photos_count + @foursquare_tips_count} %>
</div>
<div class="span4" style="border-top: 1px solid #e8e8e8">
	<h3 style="text-align: center">iVolve Index</h3>
	<h5 style="text-align: center">Total: <%= @twitter_avg_sent + @facebook_avg_likes + @facebook_avg_posts + @facebook_avg_statuses + @facebook_avg_achievements + @facebook_avg_subscribers + @instagram_avg_media + @instagram_avg_likes_out + @foursquare_avg_checkins + @foursquare_avg_photos + @foursquare_avg_tips %>
	</h5>
	<%= content_tag :div, "", id: "ivolve-engagement", 
	data: {twitter: @twitter_avg_sent,
		facebook: @facebook_avg_likes + @facebook_avg_posts + @facebook_avg_statuses + @facebook_avg_achievements + @facebook_avg_subscribers,
		instagram: @instagram_avg_media + @instagram_avg_likes_out,
		foursquare: @foursquare_avg_checkins + @foursquare_avg_photos + @foursquare_avg_tips} %>
</div>