<!-- the instance variables below are defined in stats_helper.rb -->

<div class="col-xs-12" style="border-top: 1px solid #e8e8e8">
	<div class="center-block" style="text-align:center">
		<p class="h3">User Activities URL</p>
		<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#connections-info-modal"><i class="fa fa-info"></i>
		</button>
	</div>
	<!-- The following modal is called for both My and Ivolve Index -->
	<div class="modal fade" id="connections-info-modal" tabindex="-1" role="dialog" aria-labelledby="socialConnectionsModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="socialConnectionsModalLabel">Social Connections</h4>
					<p>These graphs display my (and <%= @who %>'s) total number of connections in each app.</p>
				</div>
				<div class="modal-body">
					<ul>
						<li><strong>Twitter</strong> Friends, Followers, and Lists</li>
						<li><strong>Facebook</strong> Friends</li>
						<li><strong>Instagram</strong> Friends and Followers</li>
						<li><strong>Foursquare</strong> Friends and Following</li>
						<li><strong>LinkedIn</strong> Connections and Group Memberships</li>
					</ul>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	<h5 style="text-align: center">Total: <%= @home_page + @users_page + @user_page + @about_page + @help_page + @contact_page %>
	</h5>
	<%= content_tag :div, "", id: "user-activity", 
	data: {home: @home_page,
		users: @users_page,
		user: @user_page,
		about: @about_page,
		help: @help_page,
		contact: @contact_page} %>
</div>
