<div class="col-xs-12" style="border-top: 1px solid #e8e8e8">
	<h3 style="text-align: center">Your Wellness Snapshot</h3>
	<%= content_tag :div, "", id: "wellness-bar", 
	data: {youso: @twitter_int_friends + @twitter_int_followers + @twitter_int_favorites + @twitter_int_sent + @twitter_int_lists + @facebook_int_friends + @facebook_int_likes + @facebook_int_posts + @facebook_int_statuses + @facebook_int_subscribers + @facebook_int_subscribed_to + @instagram_int_followers + @instagram_int_following + @instagram_int_likes_out + @foursquare_friends_count + @foursquare_badges_count + @foursquare_following_count + @foursquare_checkins_count + @foursquare_mayor_count + @foursquare_tips_count,
		ivolveso: @twitter_avg_friends + @twitter_avg_followers + @twitter_avg_fav + @twitter_avg_sent + @twitter_avg_lists + @facebook_avg_friends + @facebook_avg_likes + @facebook_avg_posts + @facebook_avg_statuses + @facebook_avg_subscribers + @facebook_avg_subscribed_to + @instagram_avg_followers + @instagram_avg_following + @instagram_avg_likes_out + @foursquare_avg_friends + @foursquare_avg_badges + @foursquare_avg_following + @foursquare_avg_checkins + @foursquare_avg_mayors + @foursquare_avg_tips,
		youcr: @facebook_int_achievements + @instagram_int_media + @foursquare_photos_count,
		ivolvecr: @facebook_avg_achievements + @instagram_avg_media + @foursquare_avg_photos,
		youph: @fitbit_height_int + @fitbit_weight_int + @fitbit_stride_length_run_int + @fitbit_stride_length_walk_int,
		ivolveph: @fitbit_avg_height + @fitbit_avg_weight + @fitbit_avg_length_run + @fitbit_avg_length_walk} %>	
</div>