<div class="col-xs-12" style="border-top: 1px solid #e8e8e8">
	<h3 style="text-align: center">My Wellness Snapshot</h3>
	<%= content_tag :div, "", id: "wellness-bar", 
	data: {youso: @twitter_int_friends + @twitter_int_followers + @twitter_int_favorites + @facebook_int_friends + @facebook_int_likes + @facebook_int_statuses + @facebook_int_subscribers + @facebook_int_subscribed_to + @instagram_int_followers + @instagram_int_following + @instagram_int_likes_out + @foursquare_friends_count + @foursquare_badges_count + @foursquare_following_count + @foursquare_mayor_count + @linkedin_int_connections + @linkedin_int_group_memberships + @linkedin_int_job_suggestions + @linkedin_int_job_bookmarks,
		ivolveso: @twitter_avg_friends + @twitter_avg_followers + @twitter_avg_fav + @facebook_avg_friends + @facebook_avg_likes + @facebook_avg_statuses + @facebook_avg_subscribers + @facebook_avg_subscribed_to + @instagram_avg_followers + @instagram_avg_following + @instagram_avg_likes_out + @foursquare_avg_friends + @foursquare_avg_badges + @foursquare_avg_following + @foursquare_avg_mayors + @linkedin_avg_connections + @linkedin_avg_group_memberships + @linkedin_avg_job_suggestions + @linkedin_avg_job_bookmarks,
		youcr: @facebook_int_achievements + @facebook_int_posts + @instagram_int_media + @foursquare_photos_count + @foursquare_checkins_count + @foursquare_tips_count + @twitter_int_sent + @twitter_int_lists + @linkedin_int_shares,
		ivolvecr: @facebook_avg_achievements + @facebook_avg_posts + @instagram_avg_media + @foursquare_avg_photos + @foursquare_avg_checkins + @foursquare_avg_tips + @twitter_avg_sent + @twitter_avg_lists + @linkedin_avg_shares,
		youph: @fitbit_height_int + @fitbit_weight_int + @fitbit_stride_length_run_int + @fitbit_stride_length_walk_int,
		ivolveph: @fitbit_avg_height + @fitbit_avg_weight + @fitbit_avg_length_run + @fitbit_avg_length_walk,
		who: @who} %>	
	
	<!-- Look in stats_display.js.coffee and graph_helper.rb for this data -->
	<%= content_tag :div, "", id: "wellness-line", data: {wellness: wellness_bar_over_time(@user.id) } %>

</div>